<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html><head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <link href="https://fonts.googleapis.com/css?family=Chivo:900" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/style.css?v=67313628369e040dc5f222c0905851cd948a849e"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print"/>
    <!-- [if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif] -->
    <title>NSTUan</title>
    
    <script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "NSTUan",
  "image": "https://en.wikipedia.org/wiki/File:NSTU_Logo.jpg",
  "description": "NSTUan is one of the communicating app for all NSTUan.",
  "url":"https://nstuan.github.io",
  "brand": {
    "@type": "Thing",
    "name": "NSTUan"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.4",
    "reviewCount": "89"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "USD",
    "price": "0",
    "priceValidUntil": "2020-11-05",
   "itemCondition": "http://schema.org/UsedCondition",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "NSTU"
    }
  }
}
</script>
  </head>
  <body>
    <div id="container">
      <div class="inner">
        <header>
          <h1>NSTUan</h1>
          <h2>It is only for NSTUan to communicate with each other</h2>
        </header>
        
        
        <section id="downloads" class="clearfix">
          
          <a href="https://github.com/nstuan/nstuan.github.io/releases/download/v1.0/NSTU.1.0.apk" id="Download NSTU.apk" class="button"><span>Download NSTU.apk</span></a>
        </section>
          <hr/>
          
         <section id="main_content">
          {{ content }}
         </section>
          
        <footer>
      
          NSTUan is maintained by <a href="https://github.com/nstuan">nstuan</a><br/>
           </footer>
      </div>
    </div>
    
  
</body></html>
